[Unit]
Description=MLflow Tracking Server
After=network.target
[Service]
Restart=on-failure
RestartSec=30
StandardOutput=file:/home/rainforest/log/mlflow-server/cout.log
StandardError=file:/home/rainforest/log/mlflow-server/cerr.log
User=rainforest
ExecStart=/usr/bin/sh -c 'exec /home/rainforest/Repositories/research-devops/mlflow_server/mlflow-server.sh $(eval echo "~rainforest")/Repositories/research-devops/mlflow_server/.env'
[Install]
WantedBy=multi-user.target
